:root {
  --titles-font-family: "PT Serif", "Georgia", "Times", serif;
  --text-font-family: "Roboto", "Arial", "Helvetica", sans-serif;
  --light-theme-title-color: #000000;
  --dark-theme-title-color: #ffffff;
  --light-theme-text-color: #333333;
  --dark-theme-text-color: rgba(255, 255, 255, 0.8);
  --helper-text-color: #76767a;
  --link-text-color: #0050b2;
  --first-brand-color: #70cf29;
  --second-brand-color: #3fa9f5;
  --first-brand-color: #70cf29;
  --second-brand-color: #3fa9f5;
  --form-background-color: #f5f5f7;
  --footer-background-color: #202020;
  --section-border-color: #d9d9de;
}

body {
  font-family: var(--text-font-family);
  font-weight: 500;
  font-style: normal;
  line-height: 1.3;
}

ul {
  list-style: none;
}

h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

/*================= Популярные предложения =================*/

.suggestions {
  padding-top: 76px;
}

.suggestions .container {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
  border-bottom: 1px solid var(--section-border-color);
}

.suggestions-title {
  margin-bottom: 40px;

  font-family: var(--titles-font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 1.325;
  color: var(--light-theme-title-color);
}

.suggestions-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 32px;
}

.suggestions-wrapper .suggestions-links {
  width: 256px;
  height: 256px;

  display: flex;
  flex-wrap: wrap;

  text-decoration: none;
}

/*================= Большой блок =================*/

.suggestions-big-links {
  height: 544px;

  display: flex;
  flex-wrap: wrap;

  text-decoration: none;
}

.suggestions-overflow .suggestions-overflow-big-content {
  padding-top: 27px;
  padding-bottom: 19px;
  padding-left: 33px;
  padding-right: 33px;
}

.suggestions-big-title {
  font-size: 24px;
  line-height: 1.342;
  color: var(--dark-theme-title-color);
}

/*=================================================*/

.suggestions-overflow {
  position: relative;
  width: inherit;
  height: inherit;
}

.suggestions-overflow-content {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;

  padding-top: 16px;
  padding-bottom: 19px;
  padding-left: 17px;
  padding-right: 17px;

  border-radius: 6px;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 48.44%,
    rgba(255, 255, 255, 0) 76.04%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.suggestions-overflow-title {
  font-size: 18px;
  font-weight: 500;
  color: var(--dark-theme-title-color);
}

.suggestions-overflow-text {
  align-self: flex-end;

  font-weight: 400;
  font-size: 16px;
  color: var(--dark-theme-title-color);
}

.suggestions-grid {
  display: block;
  height: inherit;
  border-radius: 6px;
  background-color: rgb(107, 107, 107);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(255, 255, 255, 0) 48.44%,
    rgba(255, 255, 255, 0) 76.04%,
    rgba(0, 0, 0, 0.7) 100%
  );
}

.suggestions-grid-1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.suggestions-grid-2 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.suggestions-grid-3 {
  grid-column: 3/5;
  grid-row: 1/3;
}

.suggestions-grid-4 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.suggestions-grid-5 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.suggestions-grid-6 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.suggestions-grid-7 {
  grid-column: 2/3;
  grid-row: 3/4;
}

.suggestions-grid-8 {
  grid-column: 3/4;
  grid-row: 3/4;
}

.suggestions-grid-9 {
  grid-column: 4/5;
  grid-row: 3/4;
}

.suggestions-grid-10 {
  grid-column: 1/2;
  grid-row: 4/5;
}

.suggestions-grid-11 {
  grid-column: 2/3;
  grid-row: 4/5;
}

.suggestions-grid-12 {
  grid-column: 3/4;
  grid-row: 4/5;
}

.suggestions-grid-13 {
  grid-column: 4/5;
  grid-row: 4/5;
  text-align: center;
}

.suggestions-grid-13 .suggestions-big-title {
  align-self: center;
}
